<div class="market-mini">
  <div class="market-mini-row">
    <span class="market-mini-label">BTC</span>&thinsp;
    <span id="btcPrice" class="market-mini-value">--</span>
  </div>
  <div class="market-mini-row">
    <span class="market-mini-label">ETH</span>&thinsp;
    <span id="ethPrice" class="market-mini-value">--</span>
  </div>
  <div id="marketUpdated" class="market-mini-time">Updated -- UTC</div>
</div>

<nav class="site-nav">
  <ul class="nav-list">
    {% for item in site.data.nav %}
      <li>
        <a href="{{ item.url | relative_url }}">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
