{%- assign lang = page.lang | default: site.lang | default: "en" -%}

{%- assign signature = nil -%}
{%- assign official  = nil -%}

{%- if site.data.i18n
      and site.data.i18n[lang]
      and site.data.i18n[lang].footer -%}
  {%- assign signature = site.data.i18n[lang].footer.signature -%}
  {%- assign official  = site.data.i18n[lang].footer.official -%}
{%- endif -%}

<footer class="page-footer" role="contentinfo">
  <p class="page-footer__signature">
    {{ signature | default: site.data.i18n.en.footer.signature }}
  </p>
  <!--<p class="page-footer__official">
    {{ official | default: site.data.i18n.en.footer.official }}
  </p>-->
</footer>
