<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>

  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <a href="{{ '/' | relative_url }}">
            <img src="{{ site.logo | relative_url }}" alt="Logo" />
          </a>
        {% endif %}

        {% include nav.html %}
      </header>

      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
